# This is Git's per-user configuration file.
[user]
	email = kiankyars@gmail.com
	name = Kian Kyars

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[pull]
	# Rebase instead of creating a merge commit when pulling updates
	rebase = true

[commit]
	verbose = true

[color]
	ui = true

[fetch]
	# Prune remote tracking branches that no longer exist on the remote
	prune = true

[log]
	abbrevCommit = true

[alias]
	ac = !git add -A && git commit