# This is Git's per-user configuration file.
[user]
	email = kiankyars@gmail.com
	name = Kian Kyars
[alias]
	ac = !git add -A && git commit
[push]
	autoSetupRemote = true
[commit]
	verbose = true
[init]
	defaultbranch=main
[color]
	ui = true
[fetch]
    prune = true
[log]
	abbrevcommit=true