<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.kiankyars.timelapse-photos-helper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>__WORKER__</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>__REQUEST__</string>
    </array>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>StandardOutPath</key>
    <string>__STDOUT__</string>
    <key>StandardErrorPath</key>
    <string>__STDERR__</string>
</dict>
</plist>
